@tailwind base;
@tailwind components;
@tailwind utilities;

@import './../assets/fonts/fonts-stylesheet.css';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  @apply min-w-full box-border bg-white font-primary;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
}
body {
  @apply m-0;
}
